<h1>Editing permissions_to_family</h1>

<%= render 'form' %>

<%= link_to 'Show', @permissions_to_family, :class => "btn btn-primary" %> |
<%= link_to 'Back', permissions_to_families_path, :class => "btn btn-primary" %>
